[submodule "_vim/bundle/vim-less"]
	path = _vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "_vim/bundle/ctrlp.vim"]
	path = _vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/commentary"]
	path = _vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "_vim/bundle/vim-colors-solarized"]
	path = _vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "_vim/bundle/ack.vim"]
	path = _vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "_vim/bundle/salt"]
	path = _vim/bundle/salt
	url = https://github.com/saltstack/salt-vim.git
[submodule "_vim/bundle/colorschemes"]
	path = _vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "_vim/bundle/vim-sleuth"]
	path = _vim/bundle/vim-sleuth
	url = git://github.com/tpope/vim-sleuth.git
[submodule "_vim/bundle/closetag"]
	path = _vim/bundle/closetag
	url = https://github.com/vim-scripts/closetag.vim
[submodule "_vim/bundle/vim-sensible"]
	path = _vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "_vim/bundle/Vim-Jinja2-Syntax"]
	path = _vim/bundle/Vim-Jinja2-Syntax
	url = https://github.com/icook/Vim-Jinja2-Syntax.git
